@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__img
        height: 100%
        width: 100%
        object-fit: cover           
  .card
    width: 230px
    height: 230px
  .packages
    &-layout
      min-width: 700px
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  .mound
    &-right
      padding-left: 395px
      &__text
        max-width: 214px
        font-size: 13px
      &__button
        margin-left: 100px
        margin-top: 433px
        padding: 8px 15px
  .hotels
    &-down
      &__button
        margin-left: 119px
  .footer
    &__input
      flex-basis: 100%        

@media  ( max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .footer
    &__input
      flex-basis: 49%
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      width: 134px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2  
    &__additional
      grid-column: span 2  
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5 
      &-form
        grid-column: span 5
        grid-row: 4          
  .packages
    &-layout
      min-width: 700px
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
      grid-template-rows: repeat(2, 500px)
  .mound
    &-right
      padding-left: 420px
      &__text
        max-width: 233px
        font-size: 12px
      &__button
        margin-left: 119px      
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto  
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
  .search
    &__input
      width: 340px
  .hotel
    &-slider
      width: 100%
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px    
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px  
  .card
    width: 340px  
    height: 250px    
                                
@media  ( max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .footer
    &__input
      flex-basis: 100%  
  .packages
    &-layout
      min-width: 500px
      &__card
        &:first-child
          display: none
  .hotels
    &-down
      &__button
        padding: 11px 14px
        margin-left: 100px          
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      height: 16px
      width: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%

    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__name
        margin-top: 10px
        margin-bottom: 0      
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%  
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%  
    height: 255px         

@media ( max-width: 576px)
  .container
    max-width: 92%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__title
      &--inline
        margin-right: 10px  
    &__logo
      grid-row: 1
      grid-column: 1 
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1  
    &__additional
      grid-row: 3
      grid-column: 1  
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__message
      width: 270px         

  .hotels
    &-up
      &__image
        width: 570px
    &-down
      margin-left: 30px      
  .packages
    &-layout
      min-width: 300px
      &__card
        &:last-child
          display: none  
  .logo
    width: 99px
  .hotel
    &__slider
      height: 250px
      margin-bottom: 20px
  .subscribe
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
  .card
    width: 100%           
  
            
    
      

                